.card {
    width: 250px;
    min-height: 350px;
    /* border: 1px solid red; */
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 5px 5px 10px rgb(192, 192, 192);
    margin: 15px;
}

.card-img {
    overflow: hidden;
    height: 200px;
    /* border: 1px solid red;
    border-radius: 25px; */
}

.card-text-box {
    padding: 5px 15px;
}

.card-name {
    font-weight: 600;
    font-size: 30px;
}

.card-description {
    text-decoration: line-through;
}

.card-price {
    font-weight: 700;
    margin-top: 10px;
    font-size: 18px;
}

@media (max-width: 576px) {

    .card {
    width: 150px;
    min-height: 300px;
    /* max-height: 350px; */
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 5px 5px 10px rgb(192, 192, 192);
    margin: 10px;
}

.card-img {
    overflow: hidden;
    height: 150px;
    /* border: 1px solid red;
    border-radius: 25px; */
}

.card-img img {
    width: 150px;
    height: 150px;
}

.card-text-box {
    padding: 10px 10px;
    height: 10px;
}

.card-name {
    font-weight: 600;
    font-size: 24px;
}

.card-price {
    font-weight: 700;
    margin-top: 10px;
    font-size: 14px;
}

}